KEY=#add the manifest key here; this is only needed for the development version of the extension, to keep the extension id constant (the Twitch application will only allow logins from allowed domains)
CLIENT_ID=#for uploading Chrome extension
CLIENT_SECRET=#for uploading Chrome extension
EXTENSION_ID=#Chrome extension id
CLIENT_EMAIL=#for uploading Chrome extension
REFRESH_TOKEN=#for uploading Chrome extension
GUID=#add firefox extension id
DEBUG_PORT=8888
JWT_ISSUER=#mozilla addons developer hub JWT issuer
JWT_SECRET=#mozilla addons developer hub JWT secret