node_modules/
dist/
extenssr_chrome/
extenssr_chrome.zip
extenssr_chrome_debug/
extenssr_chrome_debug.zip
extenssr_edge/
extenssr_edge.zip
extenssr_safari/
Extenssr/
extenssr_firefox/
extenssr_firefox.zip
extenssr_firefox_debug/
extenssr_firefox_debug.zip
docs/
.DS_Store
.env
key.pem
*/.DS_Store